@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* styles/globals.css */

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #000;
  color: #fff;
}
